<div class="projects-cover">
  <h2 class="heading">Projects ({{projectNo}})</h2>

  <div class="row projects">
    <div class="column" *ngFor="let p of projects">
      <h2>{{p.name}}</h2>
      <div class="hover-fold">
        <div class="btn-cover">
          <a href={{p.gitHubLink}} target="_blank" class="face-button" *ngIf="p.gitHubButton">
            <div class="face-primary">
              Code
            </div>
            <div class="face-secondary">
              GitHub
            </div>
          </a>
          <a class="face-button" href={{p.liveLink}} target="_blank" *ngIf="p.liveButton">
            <div class="face-primary">
              Demo
            </div>
            <div class="face-secondary">
              Live Demo
            </div>
          </a>
        </div>
        <div class="top">
          <div [ngStyle]="p.tStyle" class="face front"></div>
          <div class="back face">
            <p>{{p.description}}</p>
          </div>
        </div>
        <div [ngStyle]="p.bStyle" class="bottom"></div>
      </div>
    </div>
  </div>
</div>