.skill-cover {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  margin: 0;
  padding: 2em 3em 7em;
  text-align: center;
  color: #ffffff;
  background: #74428D;
}

.skill-head {
  font-size: 7vh;
  text-align: center;
}

.skills {
  position: relative;
  margin: 0;
  padding: 1em;
  z-index: 1;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #563166;
  box-shadow: 1px 2px 3px 0px black;
}

.my-pagination /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #563166;
  color: white;
  box-shadow: 1px 2px 3px black;
}

.my-pagination /deep/ .ngx-pagination a, .ngx-pagination button {
  transition: all 0.2s;
  margin: 10px 3px 0;
}

/* .ngx-pagination a, .ngx-pagination button {
  margin: 0 10px;
} */

.my-pagination /deep/ .ngx-pagination a:focus, .ngx-pagination button:focus {
  outline: none !important;
}

.my-pagination /deep/ .ngx-pagination {
  padding-inline-start: 0 !important;
}

.btn {
  background: #563166;
  color: #ffffff;
  height: 70px;
  min-width: 200px;
  line-height: 24px;
  font-size: 20px;
  overflow: hidden;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 25px 40px;
  display: inline-block;
  margin: 15px;
  letter-spacing: 1px;
  outline: none;
  font-weight: 700;
  position: relative;
  transition: all 0.3s;
  align-items: flex-start;
}

.btn:before {
  left: 0;
  top: -100%;
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  transition: all 0.3s;
  font-family: 'icomoom';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  box-sizing: border-box;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  box-sizing: border-box;
}

.btn span {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  backface-visibility: hidden;
  box-sizing: border-box;
}

.btn:hover:before {
  top: 0;
}

.btn:hover span {
  transform: translateY(300%);
}

.btn:before {
  padding-top: 3px;
  background: white;
}

.html:before {
  content: url(../../assets/Skill-logos/html5.svg);
}

.css3:before {
  content: url(../../assets/Skill-logos/css3.svg);
}

.js:before {
  content: url(../../assets/Skill-logos/javascript.svg);
}

.ng:before {
  content: url(../../assets/Skill-logos/angular.svg);
}

.node:before {
  content: url(../../assets/Skill-logos/nodejs.svg);
}

.ex:before {
  content: url(../../assets/Skill-logos/express.svg);
}

.mongo:before {
  content: url(../../assets/Skill-logos/mongodb.svg);
}

.heroku:before {
  content: url(../../assets/Skill-logos/heroku.svg);
}

.mocha:before {
  content: url(../../assets/Skill-logos/mocha.svg);
}

.github:before {
  content: url(../../assets/Skill-logos/github.svg);
}

.bootstrap:before {
  content: url(../../assets/Skill-logos/bootstrap.svg);
}

.materialize:before {
  content: url(../../assets/Skill-logos/materialize.svg);
}

.type:before {
  content: url(../../assets/Skill-logos/typescript.svg);
}

.c:before {
  content: url(../../assets/Skill-logos/C++Logo.svg);
}

.java:before {
  content: url(../../assets/Skill-logos/java.svg);
}

.ai:before {
  content: url(../../assets/Skill-logos/illustrator.svg);
}

.ph:before {
  content: url(../../assets/Skill-logos/photoshop.svg);
}

.wp:before {
  content: url(../../assets/Skill-logos/wordpress.svg);
}

.react:before {
  content: url(../../assets/Skill-logos/react.svg);
}

.graphql:before {
  content: url(../../assets/Skill-logos/graphql.svg);
}

.apollo:before {
  content: url(../../assets/Skill-logos/apollo.svg);
}

.redux:before {
  content: url(../../assets/Skill-logos/redux.svg);
}

.rxjs:before {
  content: url(../../assets/Skill-logos/rxjs.svg);
}

.ngrx:before {
  content: url(../../assets/Skill-logos/ngrx.svg);
}

.firebase:before {
  content: url(../../assets/Skill-logos/firebase.svg);
}

.hapi:before {
  content: url(../../assets/Skill-logos/hapi.svg);
}

.azure:before {
  content: url(../../assets/Skill-logos/azure.svg);
}

.gcp:before {
  content: url(../../assets/Skill-logos/gcp.svg);
}

.passport:before {
  content: url(../../assets/Skill-logos/passport.svg);
  background: black !important;
}

.mysql:before {
  content: url(../../assets/Skill-logos/mysql.svg);
}

.postgre:before {
  content: url(../../assets/Skill-logos/postgresql.svg);
}

.python:before {
  content: url(../../assets/Skill-logos/python.svg);
}

.jasmine:before {
  content: url(../../assets/Skill-logos/jasmine.svg);
}

.travis:before {
  content: url(../../assets/Skill-logos/travis.svg);
}

.pwa:before {
  content: url(../../assets/Skill-logos/pwa.svg);
}

@media(max-width: 930px) {
  .skill-cover {
    padding: 3em 1em;
  }
  .skills {
    padding: 1em;
  }
  .btn {
    height: 68px;
    min-width: 130px;
    line-height: 24px;
    font-size: 15px;
    font-family: inherit;
    padding: 22px 27px;
    margin: 7px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

@media(max-width: 600px) {
  .skill-cover {
    padding: 3em 1em;
  }
  .skills {
    padding: 0;
  }
  .btn {
    height: 64px;
    min-width: 100px;
    line-height: 20px;
    font-size: 13px;
    padding: 20px 10px;
    margin: 3px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .my-pagination /deep/ .ngx-pagination a, .ngx-pagination button {
    margin: 5px 10px 0;
  }
}
