.cover {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  max-width: 100%;
}

.task {
  background-color: rgb(71, 44, 102);
  height: 2px;
  width: 2px;
  border-bottom-right-radius: 100%;
  z-index: 3;
}

.nav-bar {
  border-radius: 0;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .25);
}

.svg-cover {
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

g {
  display: none;
}

nav {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-style: normal;
  word-spacing: .3em;
  letter-spacing: 0.1em;
  position: absolute;
  right: 4vw;
  top: calc(7.5vh - 33.5px);
  color: rgb(145, 236, 218);
  font-size: 1.5em;
  line-height: 1.54545;
}

nav ul {
  list-style: none;
  text-align: center;
  display: inline;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 2vw;
  cursor: pointer;
  color: inherit;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: rgb(71, 44, 102);
}

nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(71, 44, 102);
  height: 1px;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: rgb(71, 44, 102);
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #FFEC94;
  }
}

.stork-anime {
  stroke: rgb(145, 236, 218);
  fill: rgb(145, 236, 218);
  stroke-dasharray: 1700;
  opacity: 10;
  animation: animate 3.5s cubic-bezier(0, 0.23, 1, 0.1);
  display: initial;
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1700;
  }
  30% {
    opacity: 10;
    fill: none;
  }
  90% {
    fill: rgba(145, 236, 218, 0);
    opacity: 0;
  }
  100% {
    opacity: 10;
    fill: rgba(145, 236, 218, 1);
    stroke-dashoffset: 0;
  }
}

.section-divider {
  position: relative;
  transition: all .5s cubic-bezier(.25, .46, .45, .94);
}

.section-divider:before {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 100%;
  position: absolute;
  top: -3.25rem;
  left: calc(50% - 3.25rem);
  color: #b4c5d0;
  transition: all .5s cubic-bezier(.25, .46, .45, .94);
}

.section-divider:hover:before {
  color: #FFEC94;
  box-shadow: 0px 0px 30px 3px rgb(145, 236, 218);
}

.section-divider:hover {
  box-shadow: 0px 0px 30px 2px rgb(145, 236, 218);
}

.section {
  display: block;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.colour-2:before {
  content: "";
  display: block;
  background-size: 60% 60%;
  background-position: center;
  background-color: #74428D;
  background-image: url(../assets/Misc/user.svg);
  background-repeat: no-repeat;
}

.colour-2:hover:before {
  background-image: url(../assets/Misc/user-h.svg);
}

.colour-3:before {
  content: "";
  display: block;
  background-size: 50% 50%;
  background-position: center;
  background-color: rgb(71, 44, 102);
  background-image: url(../assets/Misc/idea.svg);
  background-repeat: no-repeat;
}

.colour-3:hover:before {
  background-image: url(../assets/Misc/idea-h.svg);
}

@media(max-width: 930px) {
  nav {
    display: none;
  }
  .section-divider:before {
    width: 5rem;
    height: 5rem;
    top: -2.5rem;
    left: calc(50% - 2.5rem);
  }
}

@media(max-width: 600px) {
  .svg-cover {
    width: 80%;
  }
  .section-divider:before {
    width: 4rem;
    height: 4rem;
    top: -2rem;
    left: calc(50% - 2rem);
  }
}