<div class="head">
  <div class="large">
    <div id="portrait-cover">
      <img src="./../../assets/Placeholder-Portrait.jpg" alt="Yash Handa" class="portrait" id="portrait">
    </div>
    <h2 id="content">
      <p class="demo" id="expert">
          <span class="demo-item">-Expert In <span class="demo-item_inner">CSS3</span></span>
          <span class="demo-item">-Expert In <span class="demo-item_inner">JavaScript </span></span>
          <span class="demo-item">-Expert In <span class="demo-item_inner">HTML5</span></span>
        </p>
      Hello! I help startups create joyful digital experiences to connect with their users.
      <span style="color: rgba(255, 221, 127, 0.808);">I recently helped amazing brands like Mixpanel, Twitter, Hellofax & Nintendo.</span>
    </h2>
  </div>

  <div class="small">
      <div class="circle-cover" id="circle-cover">
          <img src="./../../assets/Placeholder-Portrait.jpg" alt="Yash Handa"  class="circle">
        </div>
    <h2 id="content">
      <p class="demo" id="expert2">
          <span class="demo-item">-Expert In <span class="demo-item_inner">CSS3</span></span>
          <span class="demo-item">-Expert In <span class="demo-item_inner">JavaScript </span></span>
          <span class="demo-item">-Expert In <span class="demo-item_inner">HTML5</span></span>
      </p>
    </h2>
  </div>


  <div class="inspired" id="inspired">
    <div class="introduction-contact grid" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
      <ul class="contact-iconsWrapper">
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/yash-handa-bb767b130">
            <svg viewBox="0 0 29 29" width="29" height="29">
              <path class="st0" d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"></path>
            </svg>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/Yash_Y26H">
            <svg viewBox="0 0 29 29" width="29" height="29">
              <path class="st0" d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
              />
            </svg>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/Yash-Handa">
            <svg viewBox="0 0 29 29" width="29" height="29">
              <path class="st0" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
            </svg>
          </a>
        </li>
      </ul>

      <div class="contact-wrapper">
        <p class="f-ui-mono11 c-medium-grey">CONTACT ME</p>
        <span class="line"></span>
        <button class="bottom-iconBtn vertical-align-wrapper" (mouseenter)="mouseEnter($event) " (mouseleave)="mouseLeave($event)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 63" width="63" height="63" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%;">
            <defs>
              <clipPath id="animationMask_obO5OJNJY2">
                <rect width="63" height="63" x="0" y="0"></rect>
              </clipPath>
            </defs>
            <g clip-path="url(#animationMask_obO5OJNJY2)">
              <g transform="matrix(1,0,0,1,0,0)" opacity="1" style="user-select: none; cursor: pointer;">
                <g opacity="1" transform="matrix(1,0,0,1,31.5,31.5)">
                  <path fill="rgb(71, 44, 102)" fill-opacity="1" d="M0 0 M0,-31.5 C17.397,-31.5 31.5,-17.397 31.5,0 C31.5,17.397 17.397,31.5 0,31.5 C-17.397,31.5 -31.5,17.397 -31.5,0 C-31.5,-17.397 -17.397,-31.5 0,-31.5z"></path>
                </g>
              </g>
              <g transform="matrix(1,0,0,1,0,0)" opacity="1" style="user-select: none;  cursor: pointer;" class="pencil">
                <g opacity="1" transform="matrix(1,0,0,1,30.405,33.595)">
                  <path fill="rgb(145, 236, 218)" fill-opacity="1" d="M0 0 M-7.405,3.655 C-7.405,3.655 -7.405,7.405 -7.405,7.405 C-7.405,7.405 -3.655,7.405 -3.655,7.405 C-3.655,7.405 7.405,-3.656 7.405,-3.656 C7.405,-3.656 3.655,-7.405 3.655,-7.405 C3.655,-7.405 -7.405,3.655 -7.405,3.655z"></path>
                </g>
                <g opacity="1" transform="matrix(1,0,0,1,38.115,25.885)">
                  <path fill="rgb(145, 236, 218)" fill-opacity="1" d="M0 0 M2.595,1.156 C2.9850000000000003,0.7649999999999999 2.9850000000000003,0.134 2.595,-0.256 C2.595,-0.256 0.255,-2.594 0.255,-2.594 C-0.135,-2.985 -0.765,-2.985 -1.155,-2.594 C-1.155,-2.594 -2.985,-0.764 -2.985,-0.764 C-2.985,-0.764 0.765,2.986 0.765,2.986 C0.765,2.986 2.595,1.156 2.595,1.156z"></path>
                </g>
              </g>
              <g></g>
              <g transform="matrix(1,0,0,1,31.5,31.5)" opacity="1" style="user-select: none; display: block;">
                <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                  <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(145, 236, 218)" stroke-opacity="1"
                    stroke-width="2" d="M0 0 M-10.375,10.375 C-10.375,10.375 -10.375,10.375 -10.375,10.375" style="display: block;"></path>
                </g>
              </g>
            </g>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>