.inspired {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.grid {
  display: flex;
  zoom: 1;
  flex-wrap: wrap;
  max-width: 100%;
  letter-spacing: -.31em !important;
  word-spacing: -.43em !important;
  list-style-type: none;
}

.introduction-contact {
  position: absolute;
  right: 38px;
  bottom: 8vh;
  width: 120px;
  height: 72vh;
  text-align: justify;
  text-align-last: justify;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  vertical-align: baseline;
  font-size: 63%;
  -webkit-font-smoothing: antialiased;
}

.grid:before,
.grid:after {
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  max-width: 100%;
}

.introduction-contact li {
  list-style: none;
  padding-bottom: 3px;
}

.introduction-contact li a {
  text-decoration: none;
  cursor: pointer;
  line-height: normal;
  font-family: Relevant, Helvetica, Arial, sans-serif;
  color: #1e2022;
  font-size: 1.4rem;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

.introduction-contact li a svg {
  fill: #b4c5d0;
  transition: all 1s cubic-bezier(.25, .46, .45, .94);
  overflow: hidden;
}

.introduction-contact li a:hover svg {
  fill: rgb(71, 44, 102);
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-wrapper p {
  transform: rotate(90deg) translate3d(-61px, -7px, 0);
  transform-origin: 50% 0;
}

.f-ui-mono11 {
  font-family: 'Lora', serif;
  font-weight: 500;
  font-style: normal;
  word-spacing: .3em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(145, 236, 218);
  font-size: 1.3em;
  line-height: 1.54545;
}

.contact-iconsWrapper {
  padding: 0;
}

.contact-wrapper .line {
  display: block;
  width: 1px;
  height: 49px;
  position: relative;
  top: -20px;
  background-color: #cbd3da;
}

button {
  background-color: transparent;
  border: none;
}

.contact-wrapper .bottom-iconBtn {
  border-radius: 100%;
  width: 63px;
  height: 63px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .43);
  transition: all 1s cubic-bezier(.25, .46, .45, .94);
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  overflow: visible;
  padding: 0;
  line-height: normal;
  -webkit-appearance: button;
  cursor: pointer;
}

.vertical-align-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-wrapper .bottom-iconBtn:hover {
  background-color: transparent;
  cursor: pointer;
}

.contact-wrapper .bottom-iconBtn svg {
  cursor: pointer;
  fill: #FFF;
}

.next {
  position: absolute;
  left: 10vw;
  bottom: 8vh;
  width: 50px;
  height: 75px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

@media(max-height: 550px) {
  .contact-wrapper .line {
    height: 0;
  }
  .f-ui-mono11 {
    transform: rotate(90deg) translate3d( 11px, -7px, 0);
  }
}

@media(max-height: 493px) {
  .f-ui-mono11 {
    display: none;
  }
}

@media(max-width: 930px) {
  .introduction-contact {
    right: 10px;
    bottom: 5vh;
    height: 75vh;
  }
  .next {
    bottom: 5vh;
  }
}

@media(max-width: 600px) {
  .contact-wrapper .line {
    height: 0;
  }
  .f-ui-mono11 {
    display: none;
  }
  .contact-iconsWrapper {
    display: none;
  }
  .introduction-contact {
    height: 65px;
    width: 65px;
    right: 18px;
    bottom: 4vh;
  }
  .next {
    bottom: 4vh;
    width: 40px;
    height: 60px;
  }
}