.head {
  min-height: 85vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.portrait {
  transform: rotate(7deg);
  border: 1.5vw solid white;
  border-top-width: 3.5vw;
  box-sizing: border-box;
  position: relative;
  top: -3.5vw;
  left: 5px;
  float: left;
  transition: transform .15s linear;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
  width: 17vw;
  height: 19vw;
  z-index: 1;
  margin-right: 4vw;
}

.portrait:hover {
  transform: scale(1.25);
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
}

/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

#content {
  padding-top: 0;
  padding-left: 7vw;
  padding-bottom: 10vh;
  color: #FFEC94;
  line-height: 1.2em;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 3.2px;
  font-size: 3vw;
  width: 65vw;
  letter-spacing: 0.5px;
  font-family: 'Karla', sans-serif;
}

.demo,
.demo-item {
  height: 50px;
  min-height: 100%;
  box-sizing: border-box;
  display: block;
  font-weight: 400;
  font-size: initial;
  line-height: initial;
}

.demo {
  font-family: "Fira Mono", monospace;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1em;
  overflow: hidden;
  padding-left: 10vw;
  margin-bottom: 10vh;
}

.demo-item {
  position: relative;
  font-size: 2vw;
  animation: animatetotop 9s steps(3) infinite;
}

.demo-item_inner,
.demo-item-overlay {
  display: inline-block;
}

.demo-item_inner {
  position: relative;
  line-height: 1;
  color: rgb(145, 236, 218);
}

.demo-item_inner:after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  bottom: -2px;
  left: 0;
  border-left: 1.5px solid #ffffff;
  background-color: rgb(162, 87, 179);
  animation: animatetoright 1.5s steps(10) infinite alternate;
}

@keyframes animatetoright {
  0% {
    left: 0;
    margin-right: auto;
  }
  100% {
    left: 100%;
    margin-left: .6em;
    margin-right: -.6em;
  }
}

@keyframes animatetotop {
  0% {
    top: 0;
  }
  100% {
    top: -150px;
  }
}

.small {
  display: none;
}

.circle {
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  border: 4vw solid #ffffff7c;
  border-bottom-width: 2vw;
  border-top-width: 2vw;
  box-sizing: border-box;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.301);
  transition: all 1s cubic-bezier(.25, .46, .45, .94);
}

.circle-cover {
  width: 50vw;
  height: 50vw;
  margin: 5vh auto 0 auto;
  display: block;
}

@media(max-width: 930px) {
  #content {
    padding-top: 4vh;
    padding-left: 6vw;
    padding-bottom: 17vh;
    font-size: 3.4vw;
    margin: 0;
    line-height: 1.3em;
    font-weight: 400;
  }
  .portrait {
    transform: none;
    position: relative;
    top: 5px;
    border-radius: 50%;
    border: 2vw solid #ffffff7c;
    border-bottom-width: 1vw;
    border-top-width: 1vw;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.301);
    transition: all 1s cubic-bezier(.25, .46, .45, .94);
    float: left;
    transition: transform .5s cubic-bezier(.25, .46, .45, .94);
    ;
    width: 25vw;
    height: 25vw;
    z-index: 1;
  }
  .demo {
    padding-left: 7vw;
    margin-bottom: 6vh;
  }
  .demo-item {
    font-size: 2.3vw;
  }
  #portrait-cover {
    margin: 1vh 1vw 0 3vw;
  }
  .portrait:hover {
    transform: rotate(7deg);
  }
}

@media(max-width: 600px) {
  .large {
    display: none;
  }
  .small,
  .demo {
    display: block;
    width: 100vw;
  }
  .demo {
    padding: 0;
    margin: 0;
  }
  .demo-item {
    font-size: 5vw;
    animation: animatetotop 9s steps(3) infinite;
  }
  #content {
    padding: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 80vw;
    margin: auto;
  }
}
