.head {
  height: 85vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.portrait {
  transform: rotate(7deg);
  border: 1.5vw solid white;
  border-top-width: 3.5vw;
  box-sizing: border-box;
  position: relative;
  top: -3.5vw;
  left: 5px;
  float: left;
  transition: transform .15s linear;
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  width: 17vw;
  height: 19vw;
  z-index: 1;
  margin-right: 4vw;
}

.portrait:hover {
  transform: scale(1.25);
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

#content {
  padding-top: 0;
  padding-left: 7vw;
  color: #FFEC94;
  line-height: 1.2em;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 3.2px;
  font-size: 3vw;
  width: 65vw;
  letter-spacing: 0.5px;
  font-family: 'Karla', sans-serif;
}


.demo,
.demo-item {
  height: 50px;
  min-height: 100%;
  box-sizing: border-box;
  display: block;
  font-weight: 400;
  font-size: initial;
  line-height: initial;
}

.demo {
  font-family: "Fira Mono", monospace;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1em;
  overflow: hidden;
  padding-left: 10vw;
  margin-bottom: 10vh;
}

.demo-item {
  position: relative;
  font-size: 2vw;
  animation: animatetotop 9s steps(3) infinite;
}

.demo-item_inner,
.demo-item-overlay {
  display: inline-block;
}

.demo-item_inner {
  position: relative;
  line-height: 1;
  color: rgb(145, 236, 218);
}

.demo-item_inner:after {
  content: "";
  position: absolute;
  top:-1px;right:0;bottom:-2px;left:0;
  border-left: 1.5px solid #ffffff;
  background-color: rgb(162, 87, 179);
  animation: animatetoright 1.5s steps(10) infinite alternate;
}

@keyframes animatetoright {
  0% {
    left: 0;
    margin-right: auto;
  }
  100% {
    left: 100%;
    margin-left: .6em;
    margin-right: -.6em;
  }
}

@keyframes animatetotop {
  0% {
    top: 0;
  }
  100% {
    top: -150px;
  }
}

.small {
  display: none;
}

.circle {
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  border: 4vw solid #ffffff7c;
  border-bottom-width: 2vw;
  border-top-width: 2vw;
  box-sizing: border-box;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.301);
  transition: all 1s cubic-bezier(.25,.46,.45,.94);
}

.circle-cover {
  width: 50vw;
  height: 50vw;
  margin: 5vh auto 0 auto;
}


@media(max-width: 600px) {
  .large {
    display: none;
  }

  .small, .demo {
    display: block;
    width: 100vw;
  }

  .demo {
    padding: 0;
    margin: 0;
  }

  .demo-item {
    font-size: 5vw;
    animation: animatetotop 9s steps(3) infinite;
  }

  #content {
    padding: 0;
    width: 80vw;
    margin: auto;
  }
}

@media(max-width: 930px) {
  #content {
    padding-top: 8vh;
    padding-left: 3vw;
    font-size: 6.25vw;
  }
}