@import "./assets/animate.min.css";
/* @import "./../node_modules/materialize-css/dist/css/materialize.min.css"; */
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Lora');

body {
  margin: 0;
  padding: 0;
}

.animated {
  visibility: visible !important;
}

.hide-on-init {
  visibility: hidden;
}
